<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >


<suite name="Running Tests">
    <test name="Chrome Test">
        <parameter name="browser" value="chrome"/>
        <packages>
            <package name="com.test.aditza" />
        </packages>
    </test>
    <!--test name="Firefox Test">
        <parameter name="browser" value="firefox"/>
        <packages>
            <package name="com.test.aditza" />
        </packages>
    </test-->
</suite>
