<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >


<suite name="Running Tests">
    <test name="Chrome Test">
        <parameter name="browser" value="chrome"/>
        <groups>
            <run>
                <include name="GSMArena"/>
                <include name="IMDB"/>
                <include name="Backend"/>
            </run>
        </groups>
        <classes>
            <class name="com.selenium.tests.GSMArena_BatteryComparisonTest"/>
            <class name="com.selenium.tests.GSMArena_NegativeLoginTest"/>
            <class name="com.selenium.tests.IMDB_StarWarsTest"/>
            <class name="com.restassured.Tests"/>
        </classes>
    </test>
</suite>
